site_name: ED Handbook Info
site_url: https://somegeneric.website.com/

markdown_extensions:

  # extenions
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

      # for annotations
      use_pygments: true
      noclasses: true
      pygments_style: default

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

  - pymdownx.tasklist:
      custom_checkbox: true

  - toc: 
      permalink: true

  # standalone
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - tables

  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

plugins:
  - tags
  - search

extra_css:
  - assets/extra.css

theme:
  name: material
  annotation: material/alert-circle
  
  # features for all elements
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tracking
    - content.tabs.link
    - content.tooltips
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight
    - search.share

  # font formatting
  font:
    text: Quicksand
    code: Source Code Pro

  # Dark Palette
  palette:
    scheme: slate
    primary: amber
    accent: deep purple

# Navigation
nav:
  - Home: 
    - Welcome: index.md
    - About: about.md
  - Getting Started: 
    - intro/welcome.md
    - Horizons: intro/edh.md
    - Odyssey: intro/edo.md
  - Engineering:
    - engineering/engineering.md
  - Tutorials:
    - Careers:
      - Combat: tutorials/careers/combat.md
      - Exploration: tutorials/careers/exploration.md
  - Shipyard:
    - Overview: shipyard/overview.md
    - PvE Combat: shipyard/pve-combat.md
    - PvP Combat: shipyard/pvp-combat.md
    - AX Combat: shipyard/ax-combat.md
    - Trading: shipyard/trading.md
    - Mining: shipyard/mining.md
    - Exploration: shipyard/exploration.md
    - Modules:
      - Weapons: shipyard/outfitting/weapons.md
      - Utility Mounts: shipyard/outfitting/utility-mounts.md
      - Core Internals: shipyard/outfitting/core-internals.md
      - Optional Internals: shipyard/outfitting/optional-internals.md
  - Mechanics:
    - Combat: mechanics/combat.md
    - Stations Services: mechanics/station-services.md
  - On-Foot:
    - Early Steps: on-foot/early-steps.md
    - Engineering: on-foot/engineering.md
    - Activities: on-foot/activities.md
  - Resources:
    - Control Bindings: resources/control-bindings.md
    - Third Party Tools:
      - EDDN connection: resources/third-party/eddn.md
      - Exploration: resources/third-party/exploration.md
      - Engineering: resources/third-party/engineering.md
      - Ship Builders: resources/third-party/ship-builders.md
      - Inara: resources/third-party/inara.md

extra:
  generator: false
