.md-typeset h1 {
    color:goldenrod;
    font-family:'Segoe UI';
    font-weight:bold;
}

.md-typeset h2 {
    color:lightslategray;
    font-family:'Segoe UI';
    font-weight: 500;
}

.md-typeset h3 {
    color:lightslategray;
    font-family:'Segoe UI';
    font-weight: 500;
}